a {
    text-decoration: none;
    color: inherit;
}

.swiper-button-disabled {
    opacity: 0.5;
}

/* Default font */
body {
    font-family: var(--font-josefin), sans-serif;
}

/* Use Montserrat anywhere like this: */
.montserrat {
    font-family: var(--font-montserrat), sans-serif;
}

html {
    scroll-behavior: smooth;
}

@media (max-width: 768px) {
    p:has(.mobile-break-after) {
        display: flex;
        flex-direction: column;
    }

    .mobile-break-after::after {
        content: "";
    }

    .mobile-break-after+* {
        display: none;
        /* hides dash */
    }
}